<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LaundrySystem.Properties.Settings.laundrydbConnectionString1"
            connectionString="server=localhost;user id=root;password=kenneth02;persistsecurityinfo=True;database=laundrydb;allowbatch=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>